{% extends "../base.html" %}

{% block head %}
  <title>
    {% if read_only %}Viewing{% else %}Editing{% endif %}
    {{ path|title }}
  </title>
{% endblock %}

{% block nav %}
  {% if let Some(user) = current_user %}
    <li>
      <a href="/~/{{ path }}">
        View page
      </a>
    </li>
  {% endif %}
{% endblock %}

{% block content %}
  <h1 class="title">
    {% if read_only %}Viewing{% else %}Editing{% endif %}
    {{ path|title }}
  </h1>
  <hr>
  <form class="editor" action="/~/{{ path }}" method="post">
    <textarea
      id="page-source" name="source" rows="40"
      {% if current_user.is_none() || read_only %}disabled="true"{% endif %}
    >
      {{- page.content -}}
    </textarea>
    {% if read_only %}
      {% if current_user.is_none() %}
        <p>
          You may view the source of this page, but you <strong>cannot make any
          changes</strong> until you are <a href="/~account/login">logged in</a>.
        </p>
      {% endif %}
    {% else %}
      <div class="page-admin">
        <input type="submit" value="Save Changes">
      </div>
    {% endif %}
    {% if let Some(hash) = page.latest_change_hash %}
      <input type="hidden" name="latest_change_hash" value="{{ hash }}">
    {% endif %}
  </form>
{% endblock %}
