$bg-primary: #000D14;
$bg-primary-light: #001B29;
$bg-secondary: #0C161C;
$bg-secondary-light: #12212B;

$fg-primary: #C1121F;
$fg-secondary: #780000;
$fg-secondary-dark: #660000;

@use "account/login";
@use "sidebar";

body {
	font-family: "Noto Sans", sans-serif;
	margin: 0;
	background-color: $bg-primary-light;
}

.view-content {
	// center page content on screen
	width: 1200px;
	margin: auto;

	// fill screen
	min-height: 100vh;

	// flexbox things
	display: flex;
	flex-flow: row nowrap;

	// other styles
	background-color: $bg-primary-light;
}

main {
	color: white;
	padding: 0 48px;
}

button,
a.link-button,
input[type="submit"] {
	text-decoration: none;
	cursor: default;
	padding: 4px;
	border: 0;
	border-radius: 4px;
	background-color: $fg-primary;
	color: white;

	&:hover {
		background-color: $fg-secondary;
	}

	&:active {
		background-color: $fg-secondary-dark;
	}
}

input[type="text"],
input[type="password"] {
	padding: 0.5em;
	border: 2px solid $bg-secondary-light;
	border-radius: 4px;
	background-color: $bg-primary;
	color: white;

	&:focus {
		border-color: $fg-primary;
		outline: none;
	}
}

input[type="password"] {
	font-family: caption;
}

#sidebar {
	background-color: $bg-primary;
	color: white;
	width: 300px;
	padding: 0 24px;
}

#sidebar h1 {
	color: $fg-primary;
}
