{% extends "shell.html" %}

{% block body %}
  <div class="view-content">
    <nav id="sidebar">
      <a href="/~/Index">
        <h1>~/inferno</h1>
      </a>
      <ul>
        {% if let Some(user) = current_user %}
        <li>
          <form action="/~account/logout" method="post" class="user-digest">
            <p>
              Signed in as
              <span class="username">{{ user.username }}</span>
            </p>
            <input type="hidden" name="redirect_to" value="{{ request_uri }}">
            <input class="sidebar-item" type="submit" value="Logout">
          </form>
        </li>
        {% else %}
        <li>
          <a href="/~account/login?redirect_to={{ request_uri|urlencode }}">Login</a>
        </li>
        {% endif %}
        {% block nav %}{% endblock %}
      </ul>
      {% if let Some(sidebar) = sidebar %}
        <div id="sidebar-content">
          {{ sidebar.rendered()|safe }}
        </div>
      {% endif %}
    </nav>
    <main>
      {% block content %}{% endblock %}
    </main>
  </div>
{% endblock %}
