$dropdown-button-color: #FFFFFF !default;
$dropdown-bg-color: #000000 !default;

@keyframes anim-dropdown {
  from {
    height: 0;
  }
}

@keyframes anim-undropdown {
  to {
    height: 0;
  }
}

// JS enhancements
.nav-dropdown {
  //padding: 0;
  //width: max-content;
  //background-color: $dropdown-bg-color;
  //position: absolute;
  overflow: clip;
  display: none;
  //top: 0;
  //left: 0;

  &.drop {
    display: block;
    animation: 0.25s ease-in-out anim-dropdown;
  }
  &.undrop {
    display: block;
    animation: 0.25s ease-in-out anim-undropdown;
  }
}

.nav-dropdown-reference {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  .nav-dropdown {
    width: calc(100% - 2em);
    order: 1;
  }

  .nav-dropdown-content {
    flex-grow: 1;
  }
}

.nav-dropdown-button {
  cursor: pointer;
  color: $dropdown-button_color;
  transform: rotate(0.25turn);
}

.nav-dropdown-button.toggled {
  transform: rotate(0turn);
}
