$bg-primary: #000D14;
$bg-primary-light: #001B29;
$bg-secondary: #0C161C;
$bg-secondary-light: #12212B;

$fg-primary: #EB2431;
$fg-primary-dark: #AD101A;
$fg-secondary: #780000;
$fg-secondary-dark: #660000;
$fg-accent: #FFF3B0;

// different link color accessibility
$fg-text-accent: #EE8689;
$fg-link-noexist: #AA88A2;

@use "account/login";

@mixin sidebar-item {
	font-size: 18px;
	text-decoration: none;
	color: $fg-primary;
	background-color: inherit;
	cursor: pointer;
	padding: 0;
	border-radius: 0;

	&:visited {
		color: $fg-primary;
	}

	p {
		border-bottom: 2px dotted $bg-secondary-light;
		margin: 0.5em 0;
		padding: 0.5em 0;
	}
}

body {
	color: white;
	font-family: "Noto Sans", sans-serif;
	margin: 0;
	background-color: $bg-primary-light;
}

.view-content {
	// center page content on screen
	width: min(80em, 100vw);
	margin: auto;

	// fill screen
	min-height: 100vh;

	// flexbox things
	display: flex;
	flex-flow: row nowrap;

	// other styles
	background-color: $bg-primary-light;

	main {
		flex-grow: 1;
	}
}

main {
	padding: 0 48px;
	margin: 16px 0;
}

blockquote {
	// use padding instead of margin for blockquote
	margin-left: 0;
	padding-left: 2.5em;

	border-left: 4px solid $fg-text-accent;
}

a {
	color: $fg-text-accent;

	&:visited {
		color: $fg-text-accent;
	}
}

button,
a.link-button,
input[type="submit"] {
	text-decoration: none;
	cursor: default;
	padding: 4px;
	border: 0;
	border-radius: 4px;
	background-color: $fg-primary-dark;
	color: white;

	&:hover {
		background-color: $fg-secondary;
	}

	&:active {
		background-color: $fg-secondary-dark;
	}
}

input[type="submit"].sidebar-item {
	@include sidebar-item;

	padding: 0.5em 16px;
	border-bottom: 2px dotted $bg-secondary-light;
}

input[type="text"],
input[type="password"] {
	padding: 0.5em;
	border: 2px solid $bg-secondary-light;
	border-radius: 4px;
	background-color: $bg-primary;
	color: white;

	&:focus {
		border-color: $fg-primary-dark;
		outline: none;
	}
}

input[type="password"] {
	font-family: caption;
}

.hidden {
	display: none;
}

#sidebar {
	background-color: $bg-primary;
	color: white;
	flex-basis: 300px;
	flex-shrink: 0;
	padding: 0 24px;

	a {
		@include sidebar-item;
	}

	& > ul {
		list-style-type: none;
		padding: 0;
	}
}

#sidebar h1 {
	color: $fg-primary;
}

.user-digest {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .username {
    font-weight: bold;
  }
}

hr {
	border: 2px dotted gray;
}

.subtitle {
  color: gray;
	font-size: 16px;
}

.editor {
	textarea {
		width: 100%;
		font-size: 14px;
		resize: vertical;
		border: 0;
		background-color: $bg-secondary;
		color: white;

		:focus {
			outline: none;
		}
	}

	input[type="submit"] {
		font-size: 16px;
		padding: 0.5em 1em;
	}
}

.page-admin {
	display: flex;
	padding-bottom: 16px;
	justify-content: center;
}

.editor .cm-editor {
	font-size: 14px;
}

.login-form-container {
	background-color: $bg-primary;
	width: 400px;
	padding: 1em 4em;
	border-radius: 1em;
	margin: 4em auto;

	h1 {
		color: $fg-primary;
	}
}

blockquote {
	margin-left: 0;
	padding-left: 32px;
	border-left: 2px solid $fg-primary;
}

// for pulldown-cmark
.footnote-definition p {
	display: inline;
}

a.noexist {
	color: $fg-link-noexist;
}
